<!DOCTYPE html>
 <html xmlns:layout="http://www.w3.org/1999/xhtml"
                      layout:decorate="~{fragments/main_layout}"
                      xmlns:th="https://www.thymeleaf.org">


<div class="container"  layout:fragment="content">
<h1>Register Customer</h1>
<form action="#" th:action="@{/customer}" method="POST">
    <label for="inputId">Id</label>
    <input type="input" name="id" id="inputId">

    <label for="inputName">Name</label>
    <input type="input" name="name" id="inputName">

    <label for="inputPin">Pin</label>
    <input type="password" name="pin" id="inputPin">

    <input type="submit">
</form>
<hr>


<h4>Customer All</h4>
<table border="1px">
    <tr><th>Id</th> <th>Name</th> <th>Pin</th> </tr>

    <div th:each="customer : ${allCustomers}">
        <tr>
            <td><span class="display-4 my-font2" th:text="${customer.id}">Id</span></td>
            <td><span class="display-4 my-font2" th:text="${customer.name}">Name</span></td>
            <td><span class="display-4 my-font2" th:text="${customer.pin}">Pin</span></td>
        </tr>
    </div>

</table>
<hr>
<p><a th:href="@{/home}">Home Page</a></p>


</div>>


